<!doctype html>
<html>

<head>
	{{> import}}
	{{> body_style}}
</head>

<body>
	{{> header}}
	<div id="content-wrapper" class="mui--text-center" style="height: 100%">
		<div class="mui--appbar-height"></div>
		<br><br><br>
		<div class="mui-col-md-5 mui--align-middle">&nbsp</div>
		<div class="mui-col-md-2 mui-panel">
			<div class="mui-col-md-2">&nbsp</div>
			<form class="mui-form mui-col-md-8 highlight">
				<div class="mui-textfield">
					<input type="text" placeholder="Full Name">
				</div>
				<br><br>
				<div class="mui-textfield">
					<input type="number" placeholder="Age">
				</div>
				<br><br>
				<div class="mui-textfield">
					<input type="Phone" placeholder="Phone Number">
				</div>
				<br><br>
				<div class="mui-textfield">
					<input type="text" placeholder="Address">
				</div>
				<br><br>
				<div class="mui-textfield">
					<input type="text" placeholder="Username">
				</div>
				<br><br>
				<div class="mui-textfield">
					<input type="password" placeholder="Password">
				</div>
				<button type="submit" class="mui-btn mui-btn--raised">Submit</button>
			</form>
			<div class="mui-col-md-2">&nbsp</div>
		</div>
		<div class="mui-col-md-4">&nbsp</div>
	</div>
	{{> footer}}
</body>

</html>